-@articles.each do |article|
  %h2=link_to article.title, article
  %p
    Published on
    =article.created_at.strftime( "%b %d, %Y" )
    by
    =article.user.email
  %p= article.content.truncate( 200 )
  -if user_signed_in?
    .btn-group
      =link_to 'Edit', [:edit, article], class:'btn btn-default'
      =link_to 'Delete', article, method: :delete, data:{ confirm:'Are you sure?' }, class:'btn btn-default'
