-@articles.each do |article|
  %h2=link_to article.title, article
  %p
    Published on
    =article.created_at.strftime( "%b %d, %Y" )
    by
    =article.user.email
  %p= article.content.truncate( 200 )
  -if current_user == article.user
    %p
      =link_to 'Edit', [:edit, article]
      =link_to 'Delete', article, method: :delete, data:{ confirm:'Are you sure?' }
