%h1= @article.title
%p
  Published on
  =@article.created_at.strftime( "%b %d, %Y" )
  by
  =@article.user.email
%p= @article.content

=link_to 'Back', articles_path
-if current_user == @article.user
  =link_to 'Edit', [:edit, @article]
  =link_to 'Delete', @article, method: :delete, data:{ confirm:'Are you sure?' }
