%h1= @article.title
%p
  Published on
  =@article.created_at.strftime( "%b %d, %Y" )
  by
  =@article.user.email
%p
  Category:
  =@article.category.name
%p= @article.content

.btn-group
  =link_to 'Back', articles_path, class:'btn btn-default'
  -if user_signed_in?
    =link_to 'Edit', [:edit, @article], class:'btn btn-default'
    =link_to 'Delete', @article, method: :delete, data:{ confirm:'Are you sure?' }, class:'btn btn-default'
